.logo {
    z-index: 2;
    font-size: 38px;
    font-weight: 900;
    position: absolute;
    background-color: black;
    color: white;
    left: 20px;
    top: 30px ;
    margin: 0;
    width: 46px;

    span {
        color: black;
    }
}