@font-face {
  font-family: 'Montserrat-italic';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat-italic';
  src: url('../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

@mixin medium-screen {
  @media only screen and (max-width: 950px) {
    @content
  }
}

@mixin small-screen {
  @media only screen and (max-width: 671px) {
    @content
  }
}

@mixin mobile-screen {
  @media only screen and (max-width: 490px) {
    @content
  }
}

$bg-color: #191919;
$main-color: #cf1237;
$second-color: white;

body {
  background-color: $bg-color;
  padding: 40px;
  font-family: 'Montserrat';
  max-width: 924px;
  margin: auto;
  @include mobile-screen {
    padding: 30px;
  }
}

h1 {
  font-weight: 700;
  color: $main-color;
  font-size: 36px;
  @include mobile-screen {
    font-size: 28px;
  }
}

h2 {
  font-weight: 700;
  color: $second-color;
  font-size: 36px;
  margin: 0;
  @include mobile-screen {
    font-size: 28px;
  }
}

h3 {
  margin: 4px 0;
  color: $second-color
}

h4 {
  font-size: 30px;
  font-weight: 700;
  color: $main-color;
  margin-bottom: 10px;
  @include mobile-screen {
    font-size: 26px;
  }
}

h5 {
  font-size: 16px;
  color: $second-color;
  margin: 20px 0px 0px;
}

p {
  color: $second-color;
}

a {
  text-decoration: none;
}

// ######## PAGE LIST #########
// ############################

input:-internal-autofill-selected {
  //appearance: menulist-button;
  background-image: none !important;
  background-color: $bg-color !important;
  color: $second-color !important;

  :focus-visible {
    outline: none !important;
  }
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mobile-screen {
    flex-direction: column;
  }
}

#myForm {
  display: flex;
  align-items: center;
}

.myForm__researchBlock {
  #researchBox__searchBtn {
    position: relative;
    z-index: 10;
    top: 4px;
    left: 30px;
    width: 16px;
    cursor: pointer;
    @include small-screen {
      top: 25px;
      left: 12px;
    }
    @include mobile-screen {
      top: 4px;
      left: 30px;
    }
  }

  #researchBlock__research {
    border: 1px solid white;
    border-radius: 24px;
    background-color: $bg-color;
    height: 24px;
    width: 150px;
    padding: 0 10px 0 32px;
    color: $second-color;
  }
}

.introBlock {
  margin: 20px 0px 40px;
}

.btn {
  background-color: $main-color;
  height: 34px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.plateformSelectorBtn {
  margin: 10px 0;
  padding: 0px 10px 0 20px;
  color: $second-color;

  #platformSelect {
    background-color: $main-color;
    color: $second-color;
    border: 0px solid black;
    font-family: 'Montserrat';
    font-size: 16px;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }
  }
}

.loading {
  font-size: 7em;
  margin: 28px auto 0;
  @include small-screen {
    font-size: 3em;
  }
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.cardGame {
  width: calc(33.33% - 20px);
  margin: 10px;
  @include medium-screen {
    width: calc(50% - 20px);
  }
  @include small-screen {
    width: calc(100% - 20px);
  }
}

.cardGame__imgBlock {
  position: relative;
  &:hover .imgBlock__info {
    display: flex;
}

.imgBlock__img {
  width: 100%;
  img {
    width: -webkit-fill-available;
  }
  }
}

.imgBlock__info {
  display: none;
  background-image: none;
  z-index: 2;
  position: absolute;
  top: 0px;
  padding: 0px 10px;
  width: calc(100% - 20px);
  background-color: silver;
  height: calc(100%);
  background-color: $bg-color;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .info__genre {
    font-weight: 200;
    font-size: 14px;
  }
}

.cardGame__platform {
  margin-left: -6px;

  img {
    margin: 6px
  }
}

#showMoreBtn {
  font-weight: 700;
  margin: 40px auto;
  display: flex;
  cursor: pointer;
  padding: 0px 30px;
}

.footer {
  margin-top: 40px;

  &__line {
    width: 130px;
    height: 10px;
    background-color: $main-color;
  }
}


// ####### PAGE DETAIL ########
// ############################

.banner {
  height: 450px;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-bottom: 50px;
  background-position: center;
  position: relative;
  @include mobile-screen {
    margin-top: 20px;
  }
  

  &__websiteBtn {
    width: 250px;
    background-color: $main-color;
    display: flex;
    height: 30px;
    padding: 14px;
    align-items: center;
    position: relative;
    top: 342px;
    left: calc(100% - 330px);
    justify-content: space-between;
    cursor: pointer;

    p {
      font-weight: 600;
    }

    img {
      width: 20px;
    }
  }
}

.titleBox {
  display: flex;
  justify-content: space-between;

  .vote {
    font-weight: 600;
    color: $main-color;
    margin: 16px 0px 16px 20px;
    min-width: 124px;
  }
}

.tag {
  margin-top: 0px;
}

.blockText {
  margin-top: 0px; 
  margin-bottom: 0px;
  p:first-child {
    margin-top: 0px;
  }
  p:last-child {
    margin-bottom: 0px;
  }
}

.gameInfoContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  .gameInfoBlock {
    margin: 0px 60px;

  }
}

.buy {
  display: flex;
  flex-direction: column;
  a {
    color: $second-color;
    font-weight: 500;
    margin-bottom: 10px
  }
}

.screenshot {
  margin-left: -10px;
  &__img {
    width: calc(50% - 20px);
    margin: 10px;
    @include mobile-screen {
      width: calc(100% - 20px);
    }
  }
}