.showMoreContainer {
    width: 100%;
    text-align: center;
    margin-left: 20px;

    &__btn {
        color: white;
        background-color: black;
        padding: 49px 23px;
        font-size: 18px;
        font-weight: 900;
        border: 8px solid white;
        position: relative;
        bottom: 80px;
        cursor: pointer;
    }
}