// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

$color-red: rgb(255, 20, 20);

body {
  background-color: silver;
}

p {
  color: $color-red;
  font-family: 'Montserrat';
}

.cardGame {
  
}