.squareContainer {
    display: flex;
}

.square {
    width: 150px;
    height: 150px;
    margin: 10px;
}

#square1 {
    background-color: blue;
}

#square2 {
    background-color: yellow;
}

#square3 {
    background-color: green;
}

#square4 {
    background-color: red;
}