#searchBar {
    width: 212px;
    height: 27px;
    position: fixed;
    z-index: 2;
    right: 228px;
    top: 30px;
    border: 8px solid black;
    font-weight: 900;
    padding: 0px 14px;
}

#sizeOption {
    width: 114px;
    height: 27px;
    position: fixed;
    z-index: 2;
    right: 78px;
    top: 30px;
    border: 8px solid black;
    font-weight: 900;
    padding: 0px 14px;
}

#searchBtn {
    background-color: black;
    height: 27px;
    width: 12px;
    position: fixed;
    z-index: 2;
    right: 30px;
    top: 30px;
    border: 8px solid black;
    padding: 0px 14px;
    cursor: pointer;
    img {
        width: 18px;
        padding-top: 4px;
    }
}